<!DOCTYPE html>
<fieldset>
    <legend>Add saved locations</legend>
    <!-- departure -->
    <div class='form-group'>
        <label for='departure'>Departure location:</label><br>
        <input class='form-control' id='departure' type='text' name='departure' value='{{ locations.departure }}'/>
    </div>

    <!-- arrival -->
    <div class='form-group'>
        <label for='arrival'>arrival location:</label><br>
        <input class='form-control' id='arrival' type='text' name='arrival' value='{{ locations.arrival }}'/>
    </div>



    </div>
</fieldset>